# =========================
# Python / Backend
# =========================
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/
.venv/

# Secrets and Configs
.env
.env.*
*.secret

# =========================
# Node / Frontend (React)
# =========================
node_modules/
dist/
dist-ssr/
*.local

# npm/yarn logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# OS / System files
# =========================
.DS_Store
Thumbs.db
